body {
  background: #f9f9f9;
}

.nav-link {
  cursor: pointer;

  &:hover {
    color: #007bff;
  }
}

.pagination{
  margin-bottom: 10px
  }

.pages{
    border: 1px solid #cacaca;
  &:hover {
    color: #007bff;
    background-color: #cacaca;
  }
  &.active{
    color: white;
    background-color: #007bff;
  }
}
.willWatch{
  position: fixed;
}
.moviesWillWatch{
  padding: 5px;
  border: 1px solid #28a745;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}